<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Mitchang</h4>
                    <p>Second-Hand Luxury Bags, Wallets, Accesories, Jewelries and Watches</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post"> <input type="email" name="email"><input type="submit" value="Search Items"> </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><%= link_to "Top", root_path %></li>
                        <li><i class="bx bx-chevron-right"></i><%= link_to "How to Buy", buy_path %></li>
                        <li><i class="bx bx-chevron-right"></i><%= link_to "About Us", about_path %></li>
                        <li><i class="bx bx-chevron-right"></i><%= link_to "Events", event_path %></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Items</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><%= link_to "Bags", bag_path%></li>
                        <li><i class="bx bx-chevron-right"></i></i><%= link_to "Wallets", wallet_path%></li>
                        <li><i class="bx bx-chevron-right"></i></i><%= link_to "Accessories", accessory_path%></li>
                        <li><i class="bx bx-chevron-right"></i></i><%= link_to "Brand Jewelries", brand_j_path%></li>
                        <li><i class="bx bx-chevron-right"></i></i><%= link_to "No Brand Jewelries", no_brand_j_path%></li>
                        <li><i class="bx bx-chevron-right"></i></i><%= link_to "Watches", watch_path%></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p> Japan, Tokyo <br> Nerima Ward<br> Fujimachi 3-22-15 <br><br> <strong>Phone:</strong> +81 00 0000 0000<br> <strong>Email:</strong> info@example.com<br> </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About Mitchang</h3>
                    <p>xxxx xxxxxxx xxxx xx xxxxxxx xxxx xxx xxxx xxxxxx. xxxxx xxxx xxxx xxxxxx xxxxx xxxxx xxxxxx xxxxxx xxxxx xxxxx xxxx xxxxxxxxx xxxxxx xx xxx xxxx xxxxxxxxx.</p>
                    <div class="social-links mt-3"> 
                        <a href=https://www.m.me/outofthebalikbayanbox target="_blank" class="messenger"><i class="bi bi-messenger"></i></a> 
                        <a href=https://www.facebook.com/budoluxer target="_blank" class="facebook"><i class="bi bi-facebook"></i></a> 
                        <a href=https://www.instagram.com/ronjeff/ target="_blank" class="messenger"><i class="bi bi-instagram"></i></a> 
                        <a href=https://www.instagram.com/ronjeff/ target="_blank" class="email"><i class="bi bi-envelope-fill"></i></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">Copyright ©<strong><span>2022 Mitchang</span></strong>. All Rights Reserved </div>
        <div class="credits"> Designed by <a href="#">Ron Jefferson</a> </div>
    </div>
</footer>

