<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to(image_tag('logo.jpg', class: 'image-fluid logo'), root_path) %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--
        # <li class="nav-item">
        #   <a class="nav-link active" aria-current="page" href="#">Home</a>
        # </li>
        -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Items
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Bags", bag_path, class: "dropdown-item" %></li>
            <li><%= link_to "Wallets", wallet_path, class: "dropdown-item" %></li>
            <li><%= link_to "Accessories", accessory_path, class: "dropdown-item" %></li>
            <li><%= link_to "Brand Jewelries", brand_j_path, class: "dropdown-item" %></li>
            <li><%= link_to "No Brand Jewelries",no_brand_j_path, class: "dropdown-item" %></li>
            <li><%= link_to "Watches", watch_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "How to Buy", buy_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Contact Us", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Events", event_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-suit-heart-fill"> Favorites</i></a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="gold border-gold" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
</nav>
