<!--
  Carousel Block
-->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src=<%= image_path('mitchang1.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src=<%= image_path('mitchang2.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src=<%= image_path('mitchang3.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src=<%= image_path('mitchang4.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src=<%= image_path('mitchang5.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src=<%= image_path('mitchang6.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src=<%= image_path('mitchang7.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
    <div class="carousel-item">
      <img src=<%= image_path('mitchang8.jpg') %> class="d-block w-100", style="height: 600px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--
  New Arrivals Block
-->
<div class="pt-5">
  <div class="background-white">
    <img src=<%= image_path('new_arrivals.jpg')%> class="img-fluid d-block w-100">

    <!-- New Arrivals Bag -->
    <div class="d-flex justify-content-between p-3 pb-2">
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_bag.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Louis Vuitton NEVERFULL</h6>
        <h6 class="gold">Pivoine</h6>
        <h6 class="price">¥245,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_bag.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Louis Vuitton NEVERFULL</h6>
        <h6 class="gold">Pivoine</h6>
        <h6 class="price">¥245,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_bag.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Louis Vuitton NEVERFULL</h6>
        <h6 class="gold">Pivoine</h6>
        <h6 class="price">¥245,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_bag.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Louis Vuitton NEVERFULL</h6>
        <h6 class="gold">Pivoine</h6>
        <h6 class="price">¥245,000</h6>
      </div>
    </div>
    <div>
      <h6 class="text-align-right p-3 link">
        <%= link_to "Shop Bags →", bag_path, class: "link-dark" %>
      </h6>
    </div>
    <!-- Bag Finish -->

    <!-- New Arrivals Wallet -->
    <div class="d-flex justify-content-between p-3 pb-2">
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_wallet.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">YSL Monogram Bifold Wallet</h6>
        <h6 class="gold">Leather</h6>
        <h6 class="price">¥47,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_wallet.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">YSL Monogram Bifold Wallet</h6>
        <h6 class="gold">Leather</h6>
        <h6 class="price">¥47,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_wallet.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">YSL Monogram Bifold Wallet</h6>
        <h6 class="gold">Leather</h6>
        <h6 class="price">¥47,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_wallet.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">YSL Monogram Bifold Wallet</h6>
        <h6 class="gold">Leather</h6>
        <h6 class="price">¥47,000</h6>
      </div>
    </div>
    <div>
      <h6 class="text-align-right p-3 link">
        <a href="#" class="link-dark">Shop Wallets →</a>
      </h6>
    </div>
    <!-- Wallet Finish -->

    <!-- New Arrivals Accessory -->
    <div class="d-flex justify-content-between p-3 pb-2">
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_accessory.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Gucci Resin Hair Clip</h6>
        <h6 class="gold">White</h6>
        <h6 class="price">¥72,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_accessory.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Gucci Resin Hair Clip</h6>
        <h6 class="gold">White</h6>
        <h6 class="price">¥72,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_accessory.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Gucci Resin Hair Clip</h6>
        <h6 class="gold">White</h6>
        <h6 class="price">¥72,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_accessory.jpg')%> class="img-fluid", style="height: 300px;">
        <h6 class="product-title">Gucci Resin Hair Clip</h6>
        <h6 class="gold">White</h6>
        <h6 class="price">¥72,000</h6>
      </div>
    </div>
    <div>
      <h6 class="text-align-right p-3 link">
        <a href="#" class="link-dark">Shop Accessories →</a>
      </h6>
    </div>
    <!-- Accessory Finish -->

    <!-- New Arrivals Brand Jewelry -->
    <div class="d-flex justify-content-between p-3 pb-2">
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_brand-jewelry.jpg')%> class="img-fluid">
        <h6 class="product-title">B.ZERO1 NECKLACE</h6>
        <h6 class="gold">8KT Yellow Gold</h6>
        <h6 class="price">¥518,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_brand-jewelry.jpg')%> class="img-fluid">
        <h6 class="product-title">B.ZERO1 NECKLACE</h6>
        <h6 class="gold">8KT Yellow Gold</h6>
        <h6 class="price">¥518,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_brand-jewelry.jpg')%> class="img-fluid">
        <h6 class="product-title">B.ZERO1 NECKLACE</h6>
        <h6 class="gold">8KT Yellow Gold</h6>
        <h6 class="price">¥518,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_brand-jewelry.jpg')%> class="img-fluid">
        <h6 class="product-title">B.ZERO1 NECKLACE</h6>
        <h6 class="gold">8KT Yellow Gold</h6>
        <h6 class="price">¥518,000</h6>
      </div>
    </div>
    <div>
      <h6 class="text-align-right p-3 link">
        <a href="#" class="link-dark">Shop Brand Jewelries →</a>
      </h6>
    </div>
    <!-- Brand Jewelry Finish -->

    <!-- New Arrivals No Brand Jewelry -->
    <div class="d-flex justify-content-between p-3 pb-2">
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_no-brand.jpg')%> class="img-fluid">
        <h6 class="product-title">Diamond Twist Vintage-Style Band</h6>
        <h6 class="gold">10K Gold</h6>
        <h6 class="price">¥400,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_no-brand.jpg')%> class="img-fluid">
        <h6 class="product-title">Diamond Twist Vintage-Style Band</h6>
        <h6 class="gold">10K Gold</h6>
        <h6 class="price">¥400,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_no-brand.jpg')%> class="img-fluid">
        <h6 class="product-title">Diamond Twist Vintage-Style Band</h6>
        <h6 class="gold">10K Gold</h6>
        <h6 class="price">¥400,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_no-brand.jpg')%> class="img-fluid">
        <h6 class="product-title">Diamond Twist Vintage-Style Band</h6>
        <h6 class="gold">10K Gold</h6>
        <h6 class="price">¥400,000</h6>
      </div>
    </div>
    <div>
      <h6 class="text-align-right p-3 link">
        <a href="#" class="link-dark">Shop No Brand Jewelries →</a>
      </h6>
    </div>
    <!-- No Brand Jewelry Finish -->

    <!-- New Arrivals Watch -->
    <div class="d-flex justify-content-between p-3 pb-2">
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_watch.jpg')%> class="img-fluid">
        <h6 class="product-title">Coach Preston Crystal Accent</h6>
        <h6 class="gold">Rose-Tone</h6>
        <h6 class="price">¥395,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_watch.jpg')%> class="img-fluid">
        <h6 class="product-title">Coach Preston Crystal Accent</h6>
        <h6 class="gold">Rose-Tone</h6>
        <h6 class="price">¥395,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_watch.jpg')%> class="img-fluid">
        <h6 class="product-title">Coach Preston Crystal Accent</h6>
        <h6 class="gold">Rose-Tone</h6>
        <h6 class="price">¥395,000</h6>
      </div>
      <div class="new_arrivals-square">
        <img src=<%= image_path('sample_watch.jpg')%> class="img-fluid">
        <h6 class="product-title">Coach Preston Crystal Accent</h6>
        <h6 class="gold">Rose-Tone</h6>
        <h6 class="price">¥395,000</h6>
      </div>
    </div>
    <div>
      <h6 class="text-align-right p-3 link">
        <a href="#" class="link-dark">Shop Watches →</a>
      </h6>
    </div>
    <!-- Watch Finish -->

  </div>
</div>

<!--
  Events Block
-->
<div class="pt-5">
  <div class="background-white p-3">
    <div class="fs-4">Events</div>
    <div class="d-flex pt-1">
      <i class="bi bi-calendar-event gold pe-2"></i>
      <div class="pe-4">2022.05.13</div>
      <div>Facebook Live - We will have a lot of A rank branded bags for this day. Go to our Facebook page and watch our live selling at 1PM Japan Time.</div>
    </div>
    <div class="d-flex pt-1">
      <i class="bi bi-calendar-event gold pe-2"></i>
      <div class="pe-4">2022.04.28</div>
      <div>Facebook Live - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
    </div>
    <div class="d-flex pt-1">
      <i class="bi bi-calendar-event gold pe-2"></i>
      <div class="pe-4">2022.03.20</div>
      <div>Facebook Live - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
    </div>
    <div class="d-flex pt-1">
      <i class="bi bi-calendar-event gold pe-2"></i>
      <div class="pe-4">2022.02.25</div>
      <div>Facebook Live - XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
    </div>
  </div>
</div>

<div class="pt-5">
  <%= render 'mains/footer'%>
</div>
